<div class = 'menu'>
  <div class = 'menu__inner'>
    <a class="align-middle link-primary text-accent" href="{{ site.baseurl }}/">
      {{ site.title }}
    </a>
    <div class = 'menu__toggle'>
      &#9776;
    </div>
  </div>
  <div class = 'menu__overlay'>
    <div class = 'menu__drop'>
      <div class = 'menu__decorate'></div>
      <a class="align-middle link-primary text-accent" href="{{ site.baseurl }}/">
        {{ site.title }}
      </a>
      {% for item in site.data.menu %}
       <a href = '/{{ item | slugify | downcase }}' class = 'menu__item'> {{ item }}</a>
      {% endfor %}
    </div>
  </div>
</div>
