---
layout: default
---

<div class = 'mat'>
  <div class = 'mat__inner'>
    <div class = 'text-center'>
      <h1>Hello, Welcome</h1>
      <p>Hmm, this is how it looks like. Did I get it right?</p>
    </div>
    <!-- scroll button -->
    <a class = 'round' href = '#deals'><div class = 'angle'></div></a>
  </div>
</div>
<article class = 'container container__flex px-2 mx-auto mb4' itemscope itemtype = 'http://schema.org/BlogPosting'>
  <div class = 'col-3'>
    {% include subscribe/sidebar-optin.html %}
  </div>
  <div class = 'col-8'>
    <div class = 'prose' itemprop = 'articleBody'>
      {{ content }}
    </div>
    {% include subscribe/optin.html %}
    {% include comments.html %}
  </div>
</article>